@config "./tailwindcss-config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background-color: '#4831d4'; */
   height: 100%;
   width: 100%;
   /* background-color: #ccf381; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
